#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Imza
GenericName=Imza
Comment=Open source multi-modal coding agent.
Categories=Development;IDE
Exec=imza %U
Terminal=true
Type=Application
Icon=imza
Actions=New;
Keywords=development;programming;IDE;
